.game-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}
.game-card {
  border-radius: 12px;
  overflow: hidden;
}
.star-icon {
  color: gold;
  margin-right: 0.3rem;
}
.game-card-link {
  text-decoration: none;
  color: inherit;
}
